# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.db

# Virtual Environment
venv/
.env/

# Environment variables
.env
.env.*

# VS Code
.vscode/

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Node (frontend)
node_modules/
dist/
build/

# React / Vite
.vite/

# Neo4j local files (لو موجودة)
*.dbms

# LangSmith (اختياري)
.cache/